[user]
  name = Michael Serajnik
  email = ms@mserajnik.at
  username = mserajnik
[core]
  editor = micro
  excludesfile = ~/.gitignore_global
[web]
  browser = google-chrome
[pager]
  difftool = true
[diff]
  tool = icdiff
[difftool "icdiff"]
  cmd = icdiff $LOCAL $REMOTE --highlight --line-numbers
[rerere]
  enabled = 1
  autoupdate = 1
